html,
body {
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    overflow: auto;
    color:#222;
    font-size: 1em;
}

a{
    /*  Remove selection border  */
}

#wrapper {
    position : absolute;
    width    : 100%;
    margin   : 0 auto;
    top      : 60px;
    bottom   : 20px;
    background-color:#0C1021;
}

footer{
    background-color: #0C1021;
    color:#888;
    position:absolute;
    line-height:20px;
    bottom:0;
    width:100%;
    font-size:0.8em;
    text-align: right;
    padding-right:20px;
}

.glyphicon{
    color:#999;
}

.modal-dialog{
    border:1px solid #999;
    border-radius: 5px;
}

.modal-header{
    background-color:#0C1021;
    color:gold;
}

.panel-body{
    background-color:#fefefe;
}

.panel-group{
    transition:all 0.5s;
}

#navbar{
    background-color:#0C1021;
    overflow: auto;
    border-bottom:10px solid #444;
    -webkit-app-region: drag;
}

.navbar-brand{
    font-size:2em;
    color:gold;
    margin-top:-5px;
    overflow:auto;
}

.navbar-brand > span{
    font-size:0.3em;
    position:absolute;
    top:30px;
    left:17px;
    color:silver;
}

#workspace-controls{
    margin:0;
    padding:0;
    list-style:none;
    margin-left:200px;
}


#windows-controls{
    float:right;
    margin:0;
    padding:0;
    list-style: none;
}

#windows-controls li, #workspace-controls li{
    padding:0;
    margin:0;
    float:left;
}

.btn-control{
    border:none;
    margin:0;
    background-color:#0C1021;
    -webkit-app-region: no-drag;
}

.btn-workspace-control{
    line-height:50px;
    color:#eee;
    padding-right:10px;
}

.btn-workspace-control .glyphicon{
    padding-right:5px;
}

.btn-window-control{
    height:50px;
    padding:0;
    width:50px;
}

.btn-control:hover{
    background-color:#222;
}

.btn-control:hover > .glyphicon{
    color:gold;
}

#code-panels{
    background:#0C1021;
    color:#fefefe;
    animation: fadein 1s;
}

.code-panel-container{
    height:100%;
    padding:0;
    margin:0;
}

.code-panel-header{
    padding-left:15px;
}

.code-panel{
    /*This needs to match parent height, causes issues at set height*/
    /*scrolling fails if this is not set*/
    animation: fadein 1s;
}

.CodeMirror{
    font-family: Monaco, MonoSpace, sans-serif;
    font-size:0.9em;
    padding:0;
    margin:0;
    animation: fadein 1s;
    /* Firefox */
    height: -moz-calc(100vh - 190px);
    /* WebKit */
    height: -webkit-calc(100vh - 190px);
    /* Opera */
    height: -o-calc(100vh - 190px);
    /* Standard */
    height: calc(100vh - 190px);
}

#output, #output-panel{
    min-height: 90vh;
    min-width:100%;
    background:#fefefe;
    animation: fadein 2s;
}

/*Custom Scrollbar styles*/

.ui-splitbar{
    background:#444 !important;
    animation: fadein 2s;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: #aeaeae;
    border: 0 none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #828282;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0 none #ffffff;
    border-radius: 64px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/*Custom UI layout styles*/

.ui-splitbar-icon-up {
    border-bottom: 0.60em solid;
}

.ui-splitbar-icon-down {
    border-top: 0.60em solid;
}

.ui-splitbar-icon-left {
    border-right: 0.60em solid;
}

.ui-splitbar-icon-right {
    border-left: 0.60em solid;
}

.snippets{
    max-height: 300px;
    overflow-y: scroll;
}


/* Custom app startup optimizations*/

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
