html,
body {
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    overflow: auto;
    color:#222;
    font-size: 1em;
}

#code-panels{
    background:#0C1021;
    color:#fefefe;
}

.code-panel-container{
    height:100%;
    padding:0;
    margin:0;
}

.code-panel{
    /*This needs to match parent height, causes issues at set height*/
    /*scrolling fails if this is not set*/
}

.CodeMirror{
    font-family: Monaco, MonoSpace, sans-serif;
    font-size:1.1em;
    height:100%;
    padding:0;
    margin:0;
}

#output, #output-panel{
    min-height: 90vh;
    min-width:100%;
    background:#fefefe;
}

/*Custom Scrollbar styles*/

.ui-splitbar{
    background:#444 !important;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #aeaeae;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #828282;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 64px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
