html,
body {
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    overflow: auto;
    color:#222;
}

.code-panel{
    font-family: Monaco, MonoSpace, sans-serif;
}


#output, #render-panel{
    min-height: 90vh;
    min-width:100%;
}