<!DOCTYPE html>
<html xmlns:C="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>nwp - Node Web Prototype</title>

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../node_modules/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="../node_modules/codemirror/addon/scroll/simplescrollbars.css">
    <link rel="stylesheet" href="../node_modules/codemirror/theme/blackboard.css">
    <link rel="stylesheet" href="../node_modules/angular-ui-layout/src/ui-layout.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body ng-app="app" ng-controller="WorkspaceCtrl as wC">
<!-- Fixed navbar -->
<div id="navbar">
    <div class="navbar-brand">nwp<span>You know what would be cool?</span></div>

    <ul id="workspace-controls">
        <li><button type="button" class="btn-control btn-workspace-control" ng-click="NYI()"><i class="glyphicon glyphicon-floppy-disk" ></i>Save</button></li>
        <li><button type="button" class="btn-control btn-workspace-control" ng-click="NYI()"><i class="glyphicon glyphicon-folder-open" ></i>Load</button></li>
        <li><button type="button" class="btn-control btn-workspace-control" ng-click="wC.export('Tester')"><i class="glyphicon glyphicon-export" ></i>Export</button></li>
    </ul>

    <ul id="windows-controls" ng-controller="WindowCtrl as winC">
        <li><button type="button" class="btn-control btn-window-control" ng-click="winC.minimiseWindow()"><i class="glyphicon glyphicon-minus" ></i></button></li>
        <li><button type="button" class="btn-control btn-window-control" ng-click="winC.maximiseWindow()"><i class="glyphicon glyphicon-resize-full" ></i></button></li>
        <li><button type="button" class="btn-control btn-window-control" ng-click="winC.closeWindow()"><i class="glyphicon glyphicon-remove-sign" ></i></button></li>
    </ul>
</div>
<div id="wrapper" ng-init="wC.initEditors()">
    <div ui-layout="{ flow : 'column' }">
        <div ui-layout-container size="500px">
            <div ui-layout="{ flow : 'row' }" id="code-panels">
                <div ui-layout-container size="225px" min-size="50px" class="code-panel-container">
                    <div id="html-editor-container" ng-controller="EditorCtrl as eC">
                        <div class="code-panel-header"><h4>HTML</h4></div>
                        <div id="code-panel-html" ng-keyup="wC.initTimer()" ng-keydown="wC.clearTimer()" class="code-panel">
                        </div>
                    </div>
                </div>
                <div ui-layout-container size="225px" min-size="50px" class="code-panel-container">
                    <div id="css-editor-container" ng-controller="EditorCtrl as eC">
                        <div class="code-panel-header"><h4>CSS</h4></div>
                        <div id="code-panel-css" ng-keyup="wC.initTimer()" ng-keydown="wC.clearTimer()" class="code-panel">
                        </div>
                    </div>
                </div>
                <div ui-layout-container size="225px" min-size="50px" class="code-panel-container">
                    <div id="js-editor-container" ng-controller="EditorCtrl as eC">
                        <div class="code-panel-header"><h4>JS</h4></div>
                        <div id="code-panel-js" ng-keyup="wC.initTimer()" ng-keydown="wC.clearTimer()" class="code-panel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ui-layout-container min-size="50px" id="output-panel">
            <iframe src="output/output.html" id="output"></iframe>
        </div>
    </div>
</div>
<footer id="footer">
    Do cool things!
</footer>
</body>

<!-- Insert this line above script imports  -->
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

<script src="../node_modules/jquery/dist/jquery.js"></script>
<!--<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>-->

<script src="../node_modules/angular/angular.min.js"></script>
<script src='js/electangular.js'></script>
<script src="../node_modules/angular-ui-layout/src/ui-layout.js"></script>
<script src="../node_modules/codemirror/lib/codemirror.js"></script>

<script src="../node_modules/codemirror/mode/javascript/javascript.js"></script>
<script src="../node_modules/codemirror/mode/css/css.js"></script>
<script src="../node_modules/codemirror/mode/xml/xml.js"></script>
<script src="../node_modules/codemirror/addon/scroll/simplescrollbars.js"></script>

<script src="app.js"></script>
<script src="controllers/workspaceCtrl.js"></script>
<script src="controllers/windowCtrl.js"></script>
<script src="controllers/editorCtrl.js"></script>
<script src="services/outputService.js"></script>
<script src="services/windowService.js"></script>
<script src="services/workspaceService.js"></script>
<script src="services/statusService.js"></script>
<script src="services/dialogService.js"></script>

<!-- Insert this line after script imports -->
<script>if (window.module) module = window.module;</script>

</html>
