<div ng-controller="MainCtrl as mC">
    <div class="loading" ng-show="mC.loading">Loading&#8230;</div>
    <div ui-layout="{ flow : 'column' }">
        <div ui-layout-container size="500px">
            <div ui-layout="{ flow : 'row' }" id="code-panels">
                <div ui-layout-container size="225px" min-size="50px" class="code-panel-container">
                    <div id="html-editor-container">
                        <div class="code-panel-header"><h4>HTML</h4></div>
                        <div id="code-panel-html" ng-keyup="mC.initTimer()" ng-keydown="mC.clearTimer()" class="code-panel">
                        </div>
                    </div>
                </div>
                <div ui-layout-container size="225px" min-size="50px" class="code-panel-container">
                    <div id="css-editor-container">
                        <div class="code-panel-header"><h4>CSS</h4></div>
                        <div id="code-panel-css" ng-keyup="mC.initTimer()" ng-keydown="mC.clearTimer()" class="code-panel">
                        </div>
                    </div>
                </div>
                <div ui-layout-container size="225px" min-size="50px" class="code-panel-container">
                    <div id="js-editor-container">
                        <div class="code-panel-header"><h4>JS</h4></div>
                        <div id="code-panel-js" ng-keyup="mC.initTimer()" ng-keydown="mC.clearTimer()" class="code-panel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ui-layout-container min-size="50px" id="output-panel" ng-init="mC.initOutputFile()">
            <iframe src="output/output.html" id="output"></iframe>
        </div>
    </div>
</div>