<div class="modal-header bg-primary">
    <h3 class="modal-title">
        Add Category
    </h3>
</div>
<form class="panel-body" name="categoryForm">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" ng-model="workSpaceName" autofocus required />
    </div>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-primary flat-butt flat-butt-lg" ng-click="vm.close()" ng-disabled="!categoryForm.$valid"><span class="glyphicon glyphicon-ok"></span> Create</button>
    <button type="button" class="btn btn-primary flat-butt flat-butt-lg" ng-click="vm.lose()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
</div>