<div class="modal-header bg-primary">
    <h3 class="modal-title">
        Snippets
    </h3>
</div>
<div class="panel-body" ng-init="init()">
    <uib-accordion close-others="true" ng-repeat="category in snippets">
        <div uib-accordion-group>
            <uib-accordion-heading>
                {{category.name}}
            </uib-accordion-heading>
            <ul class="list-group snippets">
                <li class="list-group-item" ng-repeat="snip in category.snippets track by $index"><a ng-click="select(snip.source)">{{snip.name}}</a></li>
            </ul>
        </div>
    </uib-accordion>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="showCreate()">Create</button>
    <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>